.product {
  background-image: url(../images/bg_mobile.jpg);

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(22 / 18);
    text-align: center;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 12px;
  }

  &__title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: calc(38 / 30);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 148px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 168px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 16px;
    padding-top: 123px;

    &--ice {
      background: #aec6a5;
    }

    &--coffee {
      background: #efd478;
    }

    &--shake {
      background: #d6936d;
    }
  }

  &__name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(24 / 20);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 40px;
    position: relative;

    &--ice::before {
      content: '';
      background-image: url(../images/pic_icecream_mobile.jpg);
      background-position: center;
      position: absolute;
      top: -220px;
      display: block;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin: 0 auto;

      @media screen and (min-width: 480px) {
        right: 78px;
      }
    }

    &--coffee::before {
      content: '';
      background-image: url(../images/pic_coffee_mobile.jpg);
      background-position: center;
      position: absolute;
      top: -220px;
      display: block;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin: 0 auto;

      @media screen and (min-width: 480px) {
        right: 78px;
      }
    }

    &--shake::before {
      content: '';
      background-image: url(../images/pic_milkshakes_mobile.jpg);
      background-position: center;
      position: absolute;
      top: -220px;
      display: block;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin: 0 auto;

      @media screen and (min-width: 480px) {
        right: 78px;
      }
    }
  }

  &__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(25 / 14);
    text-align: center;
    letter-spacing: 0.04em;
    color: #131313;
    margin-bottom: 101px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: none;
  }
}


// -----------------Modal form

.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #817c7c;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-header {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1),
    rotate 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .is-hidden & {
    transform: translate(-50%, -50%) scale(1.2) rotate(-360deg);
  }
}

.btn-closed {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  margin-top: 12px;
  margin-left: auto;
  margin-bottom: auto;
  padding: 0;
  cursor: pointer;
  fill: #131313;
  border: none;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #84a178;
  }
}

.modal-form-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 28px;

  &__title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    color: #131313;
  }

  &__field {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 12px;
  }

  &__label {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: calc(17 / 12);
    color: #131313;
  }

  &__input {
    min-width: 224px;
    min-height: 32px;
    padding: 8px 12px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border-color: #f8d24e;
    }

    &::placeholder {
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 12px;
      line-height: calc(17 / 12);
      color: #131313;
    }

    // &:not(:focus, ::placeholder-shown):valid {
    //   background-color: rgba(248, 210, 78, 0.1);
    // }

    // &:not(:focus, ::placeholder-shown):invalid {
    //   background-color: rgba(239, 22, 18, 0.69);
    // }

    // &:not(:focus, ::placeholder-shown):invalid + .error {
    //   display: block;
    // }
  }

  &__comments {
    resize: none;
    cursor: pointer;
    min-width: 224px;
    height: 65px;
    padding: 8px 12px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border-color: #f8d24e;
    }

    &::placeholder {
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 12px;
      line-height: calc(17 / 12);
      color: #131313;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 114px;
    height: 42px;
    padding: 12px 34px;
    margin: 26px auto 0 auto;
    background: #f8d24e;
    border-radius: 10px;
    border-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      background-color: #84a178;
    }
  }
}

.error {
  display: none;
  color: red;
  font-size: 12px;
}