<header class="header">
    <div class="header__container container">
        <a href="#" class="logo">
            <img src="images/лого-min.png" alt="logo" width="40">
        </a>
        <nav class="site-nav">
            <button type="button" class="site-nav__btn">
                <svg width="32" height="32" aria-label="Вмикач меню навігації">
                    <use class="site-nav__icon--open" href="images/eva_menu-fill.svg"></use>
                </svg>
            </button>
            <button type="button" class="site-nav__btn">
                <svg width="32" height="32" aria-label="Вимикач меню навігації">
                    <use class="site-nav__icon--close" href="images/ep_close_mob.svg"></use>
                </svg>
            </button>
            <ul class="site-nav__list list">
                <li class="site-nav__item"><a class="site-nav__link" href="#">Home</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="#">How it’s made?</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="#">Our products</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="#">Contact</a></li>
            </ul>
        </nav>
        <button type="button" class="btn-buy">Buy now</button>
    </div>

</header>