<header class="header">
    <div class="header__container container">
        <a href="#" class="logo">
            <img src="images/icelogo.png" alt="logo" width="40">
        </a>
        <nav class="site-nav">
            <ul class="site-nav__list list">
                <li class="site-nav__item"><a class="site-nav__link" href="#">Home</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="#">How it’s made?</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="#">Our products</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="#">Contact</a></li>
            </ul>
        </nav>
        <button type="button" class="site-nav__btn" data-menu-open>
            <svg width="32" height="32" aria-label="Вмикач меню навігації">
                <use class="site-nav__icon--open" href="images/symbol-defs.svg#icon-eva_menu_open"></use>
            </svg>
        </button>
        <!--Mobile menu-->
        <div class="mob-menu is-hidden" data-menu>
            <div class="container">
                <div class="mob-menu__wrap--top">
                    <a href="#" class="logo">
                        <img src="images/icelogo.png" alt="logo" width="40">
                    </a>
                    <button type="button" class="site-nav__btn" data-menu-close>
                        <svg width="32" height="32" aria-label="Вимикач меню навігації">
                            <use class="site-nav__icon--close" href="images/symbol-defs.svg#icon-eva_menu__close">
                            </use>
                        </svg>
                    </button>
                </div>
                <div class="mob-menu__wrap--bottom">
                    <ul class="mob-menu__list list">
                        <li class="mob-menu__item"><a class="mob-menu__link" href="#ice">Home</a></li>
                        <li class="mob-menu__item"><a class="mob-menu__link" href="#How">How it’s made?</a></li>
                        <li class="mob-menu__item"><a class="mob-menu__link" href="#products">Our products</a></li>
                        <li class="mob-menu__item"><a class="mob-menu__link" href="#Contact">Contact</a></li>
                    </ul>
                </div>
                <button type="button" class="btn-buy" data-modal-open>Buy now
                    <svg width="12" height="12">
                        <use class="btn-buy__icon" href="images/symbol-defs.svg#icon-ep_arrow-right-bold">
                        </use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>
<section class="hero">
    <div class="container">
        <h1 class="hero__title" id="ice">ice cream made with <span class="hero__title--accent">passion</span></h1>
        <div class="hero__wrap">
            <a href="#Products" class="hero__btn">Products</a>
            <a href="#How" class="hero__link">How it’s made?</a>
        </div>
        <img src="images/bg_dots_mobile.png" alt="background-dots" class="bg-dots">
        <img src="images/ice_mobile.png" alt="ice-cream"
            class="bg-icecream animate__animated animate__rotateInDownLeft">
    </div>
</section>

<!--Modal form-->

<div class="backdrop is-hidden" data-modal>
    <div class="modal-header">
        <form class="modal-form-header">
            <button class="btn-closed" data-modal-close>
                <svg width="20" height="20">
                    <use href="images/symbol-defs.svg#icon-clarity_close-line"></use>
                </svg>
            </button>
            <p class="modal-form-header__title">Buy now</p>
            <ul class="modal-form-header__list">
                <li class="modal-form-header__item">
                    <!-- <img src="./images/pic_icecream_mobile.png" alt="ice-cream"> -->
                    <input type="checkbox" class="modal-form-header__check visually-hidden" id="ic">
                    <label class="modal-form-header__text" for="ic">ice cream</label>
                </li>
                <li class="modal-form-header__item">
                    <!-- <img src="./images/pic_coffee_mobile.png" alt="ice-coffee"> -->
                    <input type="checkbox" class="modal-form-header__check visually-hidden" id="icof">
                    <label class="modal-form-header__text" for="icof">ice coffee</label>
                </li>
                <li class="modal-form-header__item">
                    <!-- <img src="./images/pic_milkshakes_mobile.png" alt="milkshake"> -->
                    <input type="checkbox" class="modal-form-header__check visually-hidden" id="msh">
                    <label class="modal-form-header__text" for="msh">ice coffee</label>
                </li>
            </ul>
            <div class="modal-form-header__field">
                <p class="error">Please, put correct information</p>
                <label for="name" class="modal-form-header__label">Name</label>
                <input type="text" name="name" id="name" placeholder="Tom Ford" required minlength="3"
                    class="modal-form-header__input">
            </div>
            <div class="modal-form-header__field">
                <label for="tel" class="modal-form-header__label">Phone</label>
                <input type="tel" name="tel" id="tel" placeholder="+380 (96) 111-11-11" required
                    title="+380 (96) 111-11-11" pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
                    class="modal-form-header__input">
            </div>
            <div class="modal-form-header__field">
                <label for="comments" class="modal-form-header__label">Comment</label>
                <textarea name="comments" id="comments" placeholder="Put your comments"
                    class="modal-form-header__comments"></textarea>
            </div>
            <button type="submit" class="modal-form-header__btn">Submit</button> -->
        </form>
    </div>
</div>